<div class="main">
    <div class="row">
        <div class="col-md-3 data">
            <h4>CATEGORIES</h4>
            <h6>Digital Marketing Courses</h6>
            <h6>Leadership Courses</h6>
            <h6>Product Management Courses</h6>
            <h6>Data Science Courses</h6>
            <h6>Data Analytics Courses</h6>
            <h6>Human Resource Management</h6>
            <h6>Business Management Courses</h6>
            <h6>Finance Courses</h6>
            <h6>Marketing Courses</h6>
            <h6>Project Management Courses</h6>
            <h6>Design Thinking Courses</h6>
            <h6>Supply Chain Analytics and Management Courses</h6>
        </div>
        <div class="col-md-3 data">
            <h4>CATEGORIES</h4>
            <h6>Digital Marketing Courses</h6>
            <h6>Leadership Courses</h6>
            <h6>Product Management Courses</h6>
            <h6>Data Science Courses</h6>
            <h6>Data Analytics Courses</h6>
            <h6>Human Resource Management</h6>
            <h6>Project Management Courses</h6>
            <h6>Design Thinking Courses</h6>
            <h6>Supply Chain Analytics and Management Courses</h6>
        </div>
        <div class="col-md-3 data">
            <h4>COURSE TYPES</h4>
            <h6>Digital Marketing Courses</h6>
            <h6>Leadership Courses</h6>
            <h6>Product Management Courses</h6>
            <h4>STUDENT RESOURCES</h4>
            <h6>Design Thinking Courses</h6>
            <h6>Supply Chain Analytics and Management Courses</h6>
        </div>
        <div class="col-md-3 data">
            <h4>INSTITUTES</h4>
            <h6>Digital Marketing Courses</h6>
            <h6>Leadership Courses</h6>
            <h6>Product Management Courses</h6>
            <h6>Finance Courses</h6>
            <h6>Marketing Courses</h6>
            <h6>Project Management Courses</h6>
            <h6>Design Thinking Courses</h6>
            <h6>Supply Chain Analytics and Management Courses</h6>
        </div>
    </div>
    <div class="hl"></div>
    <div class="botom">
        <div class="logo">
            <img width="50" height="50" src="https://img.icons8.com/ios-filled/50/08A045/old-vmware-logo.png" alt="old-vmware-logo" />
            <h3>HELLO</h3>
        </div>
        <h6>Emeritus is committed to teaching the skills of the future by making high-quality education accessible and affordable to individuals, companies, and governments around the world. It does this by collaborating with more than 80 top-tier universities across the United States, Europe, Latin America, Southeast Asia, India and China. Emeritus’ short courses, degree programs, professional certificates, and senior executive programs help individuals learn new skills and transform their lives, companies and organizations.</h6>
    </div>
    <div class="socialmedia">
        <div class="cpt">
           <a href="">Cookie </a> <div class="vl"></div>
           <a href="">PolicyPrivacy </a> <div class="vl"></div>
           <a href="">NoticeTerms of Service</a>
        </div>
        <div class="copy">
            <h6>© 2024. All Rights Reserved</h6>
        </div>
        <div class="social">
            <img width="40" height="40" src="https://img.icons8.com/material-rounded/40/ffffff/facebook-new.png" alt="facebook-new"/>
            <img width="40" height="40" src="https://img.icons8.com/material/40/ffffff/instagram-new--v1.png" alt="instagram-new--v1"/>
            <img width="40" height="40" src="https://img.icons8.com/material/40/ffffff/linkedin--v1.png" alt="linkedin--v1"/>
            <img width="40" height="40" src="https://img.icons8.com/material/40/ffffff/twitter--v2.png" alt="twitter--v2"/>
        </div>
    </div>
</div>