<div>
    <div class="title">
        Discover the endless possibilities in AI and technology with Silicon Valley AI Immersion Program.
        <a href="">Learn more</a>
    </div>

    <nav class="nav">
        <img class="nav-toggler" width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/08A045/menu--v1.png" alt="menu--v1"/>
        <a class="nav-brand" href="#"><img width="40" height="40"
                src="https://img.icons8.com/ios-filled/40/08A045/old-vmware-logo.png" alt="old-vmware-logo" />
            <h3>HELLO</h3>
        </a>

        <form class="search">
            <input placeholder="Search" aria-label="Search">
            <img width="30" height="30" src="https://img.icons8.com/ios-glyphs/30/08A045/search--v1.png"
                alt="search--v1" />
        </form>

        <div class="collapsee">
            <a href="#">Explore Institutes</a>
            <a href="#">Categories</a>
            <a href="#">Global Programs</a>
            <a href="#">Blog</a>
            <a href="#">Video</a>
            <button>Login</button>
        </div>
    </nav>
</div>